/* ==========================================================================
Banner
========================================================================== */

.banner {
  background: #68737D;
}

.banner__content {
  padding: 16px;
  max-width: 550px;
  margin: 0 auto;
  display: flex;
  align-items: center;
}

.banner__text {
  flex-grow: 1;
  line-height: 1.4;
}

.banner__close {
  background: none;
  border: none;
  cursor: pointer;
}

.banner__text,
.banner__close > span {
  color: #ffffff;
}
