/* ==========================================================================
Fresh Footer
========================================================================== */

footer.footer-dark {
    background: $grey-4;
    color: $grey-2;
    .columns {
        margin-top: 0px;
    }
    .footer-logo {
        img {
            height: 40px;
        }
    }
    .footer-column {
        .footer-header h3 {
            color: $white;
            font-weight:500;
            font-size: 1.2rem;
            text-transform: uppercase;
            letter-spacing: 1px;
            margin-bottom: 20px;
        }
        ul.link-list {
            line-height: 40px;
            font-size: 1.1rem;
            a {
                color: $white;
                font-weight: 400;
                transition: all 0.5s;
            }
            :hover {
                color: $grey-2;
            }
        }
        .level-item .icon {
            color: $secondary;
            transition: all 0.5s;
            :hover {
                color: $white;
            }
        }
    }
}
