{{- $footer      := .Site.Params.footer }}
{{- $logo        := index $footer "logo" }}
{{- $quickLinks  := index $footer "quicklinks" }}
{{- $socialMedia := index $footer "socialmedia" }}
{{- $bulmaLogo   := index $footer "bulmalogo" }}
{{- $socialMediaTitle    := index $footer "socialmediatitle" }}
<footer class="footer footer-dark">
  <div class="container">
    <div class="columns">

      <div class="column">
        <a href="https://www.freepik.com/vectors/people">People vector created by pch.vector - www.freepik.com</a> <br /> <br /> <br />
        Copyright &copy; 2022 trye.io
      </div>

      <div class="column">
        <div class="footer-column">
          <ul class="link-list">
            <li><a href="https://trye.io/privacy/">Privacy Policy</a></li>
            <li><a href="https://trye.io/cookies/">Cookies</a></li>
            <li><a href="https://trye.io/privacy/">Do Not Sell My Personal Information</a></li>
          </ul>
        </div>
      </div>

      <div class="column">
        <div class="footer-column">
          <div class="footer-header">
            <h3>{{ $socialMediaTitle }}</h3>
            <nav class="level is-mobile">
              <div class="level-left">
                {{- range $socialMedia }}
                <a class="level-item" href="{{ .link }}">
                  <span class="icon"><i class="fab fa-{{ .icon }}"></i></span>
                </a>
                {{- end }}
              </div>
            </nav>
          </div>
        </div>
      </div>

    </div>
  </div>
</footer>
