<section class="section section-light-grey is-medium" id = "bottom">
  <div class="container">


    <div class="content-wrapper">
      <div class="columns">

        <div class="column is-5">
          <figure class="image">
            <img src="/images/illustrations/features/contact.png" alt="Description">
          </figure>
        </div>


        <div class="column is-6">

          <div class="title-wrapper has-text-centered">
            <h2 class="title is-2 is-spaced">Register your interest</h2>
            <h3 class="subtitle is-5 is-muted">Or join our <a href="https://discord.gg/dt3mc4YjKn", style = "color: black;"><u>Discord</u> <span class="icon"><i class="fab fa-discord"></i></span></a></h3>
            <br></br>
          </div>

          <form action="https://formspree.io/f/xzbkjezr" method="POST">
                <input name = "name" class="input is-medium" type="text" placeholder="Enter your nickname">
                <input name = "email" class="input is-medium" type="email" placeholder="Enter your email address">

                <div class="columns is-multiline">
                  <div class="column is-3">
                    <button class="button cta is-large primary-btn raised is-clear">Submit</button>
                  </div>
                  <div class="column is-8">
                    <p>By clicking Submit you accept our <a href="https://trye.io/privacy/" style = "text-decoration: underline; color: black;">Privacy Policy</a>.</p>
                  </div>


          </form>
          <br>

        </div>
      </div>
    </div>
  </div>
</section>
