{{- $section2 := .Site.Params.section2 }}
{{- $title    := index $section2 "title" }}
{{- $subtitle := index $section2 "subtitle" }}
{{- $features := index $section2 "features" }}
<section class="section section-feature-grey is-medium">

  <div class="container">

        {{- range $features }}
        <article class="media icon-box">
          <img src="{{ printf "/images/illustrations/features/%s.png" .icon | relURL }}" width = "400" height = "200">
          <div class="media-content mt-50">
            <div class="content">
              <p>
                <span class="icon-box-title">{{ .title }}</span>

                <span class="icon-box-text">{{ .text | markdownify }}</span>
              </p>
            </div>
          </div>
        </article>
        {{- end }}
  </div>
</section>
